{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
  {{ title }}
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="icon" sizes="32x32" type="image/png" href="https://open.spotifycdn.com/cdn/images/favicon32.8e66b099.png"/>
  <link rel = 'stylesheet' href = "{{ url_for('static', filename = 'style.css') }}">
{% endblock %}

{% block content %}
<div class = 'container-fluid'>
  <div class = 'row slogan'>
    <h1>Get more of that one Song That You Love</h1>
  </div>
</div>
<div class = 'container'>
  <div class = 'row'>
      <div class = 'col-md'>
        {{ wtf.quick_form(form) }}
      </div>
  </div>
  {% if html_code %}
    {{ html_code|safe}}
  {% endif %}
</div>
{% endblock %}
